.main_div{
    background:#D2E6EE ;


    .banner{
        display:flex;
        flex-direction:column;
        justify-content:center; 
        align-items:center;
        // margin-bottom:0px;
        
        // .banner_img_top{
        //     margin-bottom:-30px ;
        // }
    }

    .categories_sec{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: scroll;
        white-space: nowrap;
        background: #22819B;
        height: 250px;
        margin: -20px 15px 10px 15px;
        border-radius: 10px;
        padding: 10px 25px 15px 15px;
         gap: 20px;

         .categorie{
            min-width: 111px;
            height: 170px;
            background: #fff;
            border-radius: 8px;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            gap:15px;

            .categorie_img{
                background-color: rgba(249, 207, 207, 0.2);
                border-radius: 50%;
                min-width: 61px;
            }
            
         }

    }



    .mission_sec{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: scroll;
        white-space: nowrap;
        background: #22819B;
        // height: 390px;
        margin: -20px 15px 10px 15px;
        border-radius: 10px;
        padding: 10px 25px 15px 15px;
        //  gap: 20px;

         .mission{
            min-width: 330px;
            height: 170px;
            background: #fff;
            border-radius: 8px;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            gap:15px;
                .first_section{
                        display: flex;
                        flex-direction: row;
                        border:2px solid red;
                        width:30%;
                        border:2px solid green;
                    
                    .mission_img{
                        background-color: rgba(249, 207, 207, 0.2);
                        border-radius: 50%;
                        min-width: 61px;
                    }

                }

                .second_section{

                    width:70%;
                    border:2px solid blue;

                }
            
            
         }

    }
}

